CRM Upload.json
{
  "name": "CRM Upload (Spring-owned DB)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-crm",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        100
      ],
      "id": "webhook-process-crm",
      "name": "Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "jobId",
              "value": "={{ $json.body.jobId }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "data",
              "value": "={{ $json.body.data }}",
              "type": "array"
            },
            {
              "id": "a3",
              "name": "mappings",
              "value": "={{ $json.body.columnMappings }}",
              "type": "object"
            },
            {
              "id": "a4",
              "name": "options",
              "value": "={{ $json.body.enrichmentOptions }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        100
      ],
      "id": "extract",
      "name": "Extract"
    },
    {
      "parameters": {
        "jsCode": "const uuid = require('uuid');\n\nconst extract = $('Extract').first();\nconst data = extract.json.data;\nconst mappings = extract.json.mappings;\n\nconst cleanedData = data.map((row) => {\n  const cleaned = {};\n\n  for (const [csvCol, crmField] of Object.entries(mappings)) {\n    let value = row[csvCol];\n\n    if (value && typeof value === 'string') {\n      value = value.trim();\n      value = value.replace(/\\s+/g, ' ');\n\n      if (crmField === 'email') {\n        value = value.toLowerCase();\n      }\n\n      if (crmField === 'phone') {\n        value = value.replace(/[^\\d+\\-() ]/g, '');\n      }\n    }\n\n    cleaned[crmField] = value || null;\n  }\n\n  cleaned.id = uuid.v4();\n  return cleaned;\n});\n\nreturn cleanedData.map((item) => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        100
      ],
      "id": "data-cleaning",
      "name": "Data Cleaning"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(item => item.json);\nconst shouldDeduplicate = $('Extract').first().json.options.removeDuplicates;\n\nif (!shouldDeduplicate) {\n  return data.map((item) => ({ json: item }));\n}\n\nconst seen = new Map();\nconst unique = [];\n\ndata.forEach((row) => {\n  const email = row.email?.toLowerCase();\n\n  if (!email) {\n    unique.push(row);\n    return;\n  }\n\n  if (seen.has(email)) {\n    // mark duplicates (note: DB has unique constraint on email, so duplicates may be skipped by Spring)\n    unique.push({ ...row, is_duplicate: true, duplicate_of: seen.get(email) });\n  } else {\n    seen.set(email, row.id);\n    unique.push({ ...row, is_duplicate: false });\n  }\n});\n\nreturn unique.map((item) => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        200
      ],
      "id": "deduplication",
      "name": "Deduplication"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(item => item.json);\nconst shouldVerify = $('Extract').first().json.options.verifyEmails;\n\nif (!shouldVerify) {\n  return data.map(item => ({ json: item }));\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nconst verified = data.map(row => ({\n  ...row,\n  email_verified: row.email ? emailRegex.test(row.email) : false,\n  email_deliverable: row.email ? emailRegex.test(row.email) : false\n}));\n\nreturn verified.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        300
      ],
      "id": "email-verification",
      "name": "Email Verification"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map((item) => item.json);\nconst shouldEnrich = $('Extract').first().json.options.enrichCompanyData;\n\nif (!shouldEnrich) {\n  return data.map((item) => ({ json: item }));\n}\n\nconst enriched = data.map((row) => {\n  let domain = null;\n  if (row.email) {\n    const match = row.email.match(/@(.+)$/);\n    domain = match ? match[1] : null;\n  }\n\n  return {\n    ...row,\n    company_domain: domain,\n  };\n});\n\nreturn enriched.map((item) => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        400
      ],
      "id": "company-enrichment",
      "name": "Company Enrichment"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(item => item.json);\nconst shouldValidate = $('Extract').first().json.options.validatePhoneNumbers;\n\nif (!shouldValidate) {\n  return data.map(item => ({ json: item }));\n}\n\nconst validated = data.map(row => {\n  let phone = row.phone;\n  let isValid = false;\n\n  if (phone) {\n    const digits = phone.replace(/\\D/g, '');\n\n    if (digits.length === 10) {\n      phone = `(${digits.slice(0,3)}) ${digits.slice(3,6)}-${digits.slice(6)}`;\n      isValid = true;\n    } else if (digits.length === 11 && digits[0] === '1') {\n      phone = `+1 (${digits.slice(1,4)}) ${digits.slice(4,7)}-${digits.slice(7)}`;\n      isValid = true;\n    }\n  }\n\n  return {\n    ...row,\n    phone_formatted: phone,\n    phone_valid: isValid\n  };\n});\n\nreturn validated.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        500
      ],
      "id": "phone-validation",
      "name": "Phone Validation"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(item => item.json);\nconst jobId = $('Extract').first().json.jobId;\n\nconst finalRecords = data.map(row => ({\n  id: row.id || null,\n  name: row.name || null,\n  email: row.email || null,\n  phone: row.phone || null,\n  company: row.company || null,\n  title: row.title || null,\n  address: row.address || null,\n  city: row.city || null,\n  state: row.state || null,\n  country: row.country || null,\n  zip: row.zip || null,\n  website: row.website || null,\n\n  email_verified: row.email_verified || false,\n  email_deliverable: row.email_deliverable || false,\n  company_domain: row.company_domain || null,\n  phone_formatted: row.phone_formatted || null,\n  phone_valid: row.phone_valid || false,\n\n  job_id: jobId,\n  enriched: true,\n  is_duplicate: row.is_duplicate || false,\n  duplicate_of: row.duplicate_of || null,\n  data_quality_score: 85\n}));\n\nreturn finalRecords.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        600
      ],
      "id": "processed-data",
      "name": "Processed data"
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseBody": "={{ { processedContacts: $input.all().map(i => i.json) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        600
      ],
      "id": "respond",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Data Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning": {
      "main": [
        [
          {
            "node": "Deduplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication": {
      "main": [
        [
          {
            "node": "Email Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Verification": {
      "main": [
        [
          {
            "node": "Company Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Enrichment": {
      "main": [
        [
          {
            "node": "Phone Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Validation": {
      "main": [
        [
          {
            "node": "Processed data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processed data": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}
